*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.vertical-line {
  border-left: 2px solid #325164;  /* Adjust thickness and color */
  height: 60px;                 /* Adjust height */
  margin: 0 30px;                /* Optional margin */
}

.vertical-line_two{
  border-left: 2px solid #E9F1F5;
  height: 42px;
  margin: 0 30px;
}

.drawer .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper{
  background-color: #EBF1FA;
  border: none;
  position: relative;
  height: 100%;
}

.right-drawer .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper{
  border: none;
  position: relative;
  height: 100%;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

.accordions{
  --Paper-shadow:none !important;
}

.accordions .css-nt424e-MuiPaper-root-MuiAccordion-root::before,.css-nt424e-MuiPaper-root-MuiAccordion-root::before,
.accordions .css-zd78gh::before {
  height: 0 !important;
}

.steppers .css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
  color: #008D5E;
}

.steppers .MuiStepLabel-label{
  font-weight: 600 !important;
}

.steppers .css-1hv8oq8-MuiStepLabel-label.Mui-active{
  color: #005399 !important;
  font-size: 14px !important;
}

.steppers .css-18ltxn-MuiStepConnector-line{
  border-left-style: dashed;
}


.steppers .css-1hv8oq8-MuiStepLabel-label{
  color: #404040 !important;
  font-size: 14px !important;
}

.border-left{
  border-left: 1px solid #CBD4D8;
}

.accordions:hover .stepper-svg{
  color: #0076DD;
  fill: #0076DD;
}


.accordions .MuiButtonBase-root.MuiAccordionSummary-root:hover {
  background-color: #D7EFFD;
  border-radius: 5px;
}

.border-dashed{
  border: 1.4px dashed #B5C3CB;
  padding: 10px 8px;
  border-radius: 5px;
}

.search-bar.css-r5in8e-MuiInputBase-root-MuiInput-root::before{
  border:none !important
}

.menu-buttons{
  border: 1px solid #EFEFEF !important;
}